<?xml version="1.0" encoding="UTF-8"?>
<AUTOSAR>
  <Events>
    <Event>
      <OsEventName>Event1</OsEventName>
    </Event>
    <Event>
      <OsEventName>Event2</OsEventName>
    </Event>
    <Event>
      <OsEventName>Event3</OsEventName>
    </Event>
  </Events>
  <Resources>
    <Resource>
      <OsResourceName>R1</OsResourceName>
      <OsResourceCeilingPriority>7</OsResourceCeilingPriority>
      <OsResourceProperty>0</OsResourceProperty>
    </Resource>
    <Resource>
      <OsResourceName>R2</OsResourceName>
      <OsResourceCeilingPriority>5</OsResourceCeilingPriority>
      <OsResourceProperty>0</OsResourceProperty>
    </Resource>
  </Resources>
  <Hooks>
    <OsErrorHook>true</OsErrorHook>
    <OsPreTaskHook>true</OsPreTaskHook>
    <OsPostTaskHook>true</OsPostTaskHook>
    <OsStartupHook>true</OsStartupHook>
    <OsShutdownHook>true</OsShutdownHook>
  </Hooks>
  <Interrupts>
    <Interrupt>
        <OsInterruptID>USART2_IRQn</OsInterruptID>
        <OsInterruptCategory>2</OsInterruptCategory>
        <OsInterruptPriority>5</OsInterruptPriority>
        <OsInterruptResourceRef>
            <ResourceRef>R1</ResourceRef>
            <ResourceRef>R2</ResourceRef>
        </OsInterruptResourceRef>
    </Interrupt>
  </Interrupts>
  <Tasks>
    <Task>
      <OsTaskName>Task1</OsTaskName>
      <OsTaskActivation>1</OsTaskActivation>
      <OsTaskPriority>1</OsTaskPriority>
      <OsTaskSchedule>FULL</OsTaskSchedule>
      <OsTaskType>EXTENDED</OsTaskType>
      <OsTaskEventRef>
        <EventRef>Event1</EventRef>
        <EventRef>Event2</EventRef>
      </OsTaskEventRef>
      <OsTaskResourceRef>
        <ResourceRef>R1</ResourceRef>
        <ResourceRef>R2</ResourceRef>
      </OsTaskResourceRef>
      <OsTaskAutostart>true</OsTaskAutostart>
    </Task>
    <Task>
      <OsTaskName>Task2</OsTaskName>
      <OsTaskActivation>1</OsTaskActivation>
      <OsTaskPriority>4</OsTaskPriority>
      <OsTaskSchedule>NON</OsTaskSchedule>
      <OsTaskType>NORMAL</OsTaskType>
      <OsTaskEventRef>
        <EventRef>Event1</EventRef>
        <EventRef>Event2</EventRef>
        <EventRef>Event3</EventRef>
      </OsTaskEventRef>
      <OsTaskResourceRef>
        <ResourceRef>R1</ResourceRef>
        <ResourceRef>R2</ResourceRef>
      </OsTaskResourceRef>
      <OsTaskAutostart>true</OsTaskAutostart>
    </Task>
    <Task>
      <OsTaskName>Task3</OsTaskName>
      <OsTaskActivation>1</OsTaskActivation>
      <OsTaskPriority>1</OsTaskPriority>
      <OsTaskSchedule>FULL</OsTaskSchedule>
      <OsTaskType>EXTENDED</OsTaskType>
      <OsTaskEventRef>
        <EventRef>Event3</EventRef>
        <EventRef>Event2</EventRef>
      </OsTaskEventRef>
      <OsTaskResourceRef>
        <ResourceRef>R1</ResourceRef>
        <ResourceRef>R2</ResourceRef>
      </OsTaskResourceRef>
      <OsTaskAutostart>true</OsTaskAutostart>
    </Task>
  </Tasks>
</AUTOSAR>
